{% extends "base.html" %}
{% block total_tovar %}
    <div class="container">
            <div class="row">
             {% for tovars in product %}
                <div class="card col-md-3 m-5  fs-4" style="width: 18rem;">
                    <p class="text-dark text-center">{{ tovars.name_tovar }}</p>
                    <img src="{{ tovars.image_tovar.url }}" style="height: 130px;width: 170px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{ tovars.name_tovar }}</h5>
                        <p class="card-text text-danger fs-3">{{ tovars.price_tovar }} сом </p>
                        <a href="#" class="btn btn-primary">В корзину Пока не работает</a>
                    </div>
                </div>
            {% endfor %}
             </div>
        </div>
{% endblock %}

{% block tovar %}
        <div class="container">
            <div class="row">
            {% for tov in tovar_info %}
                <div class="card col-md-3 m-5" style="width: 18rem;">
                    <p class="text-dark text-center fs-4">{{ tov.name_tovar }}</p>
                    <img src="{{ tov.image_tovar.url }}" style="height: 130px;width: 180px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{ tov.name_tovar }}</h5>
                        <p class="card-text text-danger fs-3">{{ tov.price_tovar }} сом </p>
                        <a href="#" class="btn btn-primary">В корзину</a>
                    </div>
                </div>
            {% endfor %}
             </div>
        </div>
{% endblock %}
























{#{% block resume %}#}
{#      <div id="particles-js">#}
{#      <div class="header">#}
{#        <h1>#}
{#          <span class="site-title">Akylbekov Beksultan Akylbekovich</span>#}
{#          <span class="site-description"#}
{#            >Programmer • Web Developer • </span#}
{#          >#}
{#        </h1>#}
{#        <div class="header-icons">#}
{#          <a#}
{#            aria-label="My LinkedIn Profile"#}
{#            target="_blank"#}
{#            href="https://www.linkedin.com/in/beksultan-akylbekov-234267155/"#}
{#          >#}
{#            <i class="icon fa fa-linkedin" aria-hidden="true"></i>#}
{#          </a>#}
{#          <a#}
{#            aria-label="My Github Profile"#}
{#            target="_blank"#}
{#            href="https://github.com/bekss"#}
{#          >#}
{#            <i class="icon fa fa-github-alt" aria-hidden="true"></i>#}
{#          </a>#}
{#          <a#}
{#            aria-label="My Résumé"#}
{#            target="_blank"#}
{#            href="https://assets/img/выфа.pdf"#}
{#          >#}
{#            <i class="icon fa fa fa-file-pdf-o" aria-hidden="true"></i>#}
{#          </a>#}
{#          <a#}
{#            aria-label="Send Email"#}
{#            href="mailto:beka.anon@gmail.com"#}
{#            target="_blank"#}
{#            ><i class="icon fa fa-envelope"></i#}
{#          ></a>#}
{#        </div>#}
{#        <div class="header-links">#}
{#          <a class="link" href="#about" data-scroll>About Me</a>#}
{#          <a class="link" href="#projects" data-scroll>Projects</a>#}
{#        </div>#}
{#      </div>#}
{#      <a class="down" href="#about" data-scroll#}
{#        ><i class="icon fa fa-chevron-down" aria-hidden="true"></i#}
{#      ></a>#}
{#    </div>#}
{#    <section id="about">#}
{#          <!-- User -->#}
{#          <div class="user-details">#}
{#            <h1>My Story</h1>#}
{#            <img#}
{#              src="{% static "images/img.jpg" %}"#}
{#              alt="Professional Me"#}
{#              width="20%"#}
{#            />#}
{#            <p>#}
{#              I am a web developer with 1 years of experience. I make landing sites, dynamic sites, Telegram, Instagram bots.#}
{#            </p>#}
{#          </div>#}
{##}
{##}
{#          <div class="user">#}
{#            <!-- Technology Stack #1: Languages -->#}
{#            <div class="tech">#}
{#              <h2>Languages</h2>#}
{#              <i class="devicon-python-plain colored"></i>#}
{#              <p>#}
{#                My favorite languages for systems programming, web automation, and#}
{#                data analysis.#}
{#              </p>#}
{#            </div>#}
{##}
{#            <!-- Technology Stack #2: Front-End -->#}
{#            <div class="tech">#}
{#              <h2>Front-End</h2>#}
{#              <i class="devicon-bootstrap-plain colored"></i>#}
{#              <i class="devicon-html5-plain-wordmark colored"></i>#}
{#              <i class="devicon-css3-plain-wordmark colored"></i>#}
{#              <i class="devicon-sass-original colored"></i>#}
{#              <p>#}
{#                My preferred technologies for front-end web development and#}
{#                component design.#}
{#              </p>#}
{#            </div>#}
{##}
{#            <!-- Technology Stack #3: Back-End -->#}
{#            <div class="tech">#}
{#              <h2>Back-End</h2>#}
{#              <i class="devicon-django-line"></i>#}
{#              <i class="devicon-mysql-plain-wordmark colored"></i>#}
{#              <i class="devicon-postgresql-plain-wordmark colored"></i>#}
{#              <i class="devicon-linux-plain colored"></i>#}
{#              <p>#}
{#                My preferred technologies for back-end web programming and database#}
{#                architecture.#}
{#              </p>#}
{#            </div>#}
{##}
{#            <!-- Technology Stack #4: Tools -->#}
{#            <div class="tech">#}
{#              <h2>Tools</h2>#}
{#              <i class="devicon-git-plain colored"></i>#}
{#              <i class="devicon-visualstudio-plain colored"></i>#}
{#              <i class="devicon-github-plain colored"></i>#}
{#              <i class="devicon-pycharm-plain colored"></i>#}
{#              <p style="width:200px;">#}
{#                My favorite tools for version control, code editing.#}
{##}
{#              </p>#}
{#            </div>#}
{#          </div>#}
{#    </section>#}
{##}
{#    <footer class="footer">#}
{#      <p>&copy; Akylbekov Beksultan Akylbekovich 2021</p>#}
{#    </footer>#}
{#{% endblock resume %}#}
