{% extends "base.html" %}
{% block sign_up %}
    <div class="container">
        <div class="col-md-8 mx-auto mt-5 ">
            <div class="text-center fs-2">Регистрация</div>
            <div class="jumbotron">
                {% if registered %}
                    <h1 class="text-center">Вы успешно зарегистрированы</h1>
                {% else %}
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <button type="submit" class="btn btn-primary" onclick="posted()" value="Signup">Отправить</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}